<%- include('../partials/navbar.ejs') %>
<h1>
	<%= student.firstname %> <br>
	<%= mySchool.name %>
	<%= score %>
	<% if (score >= 70) { %>
	Excellent
	<% } else if(score >= 60) { %>
	Very Good
	<% } %>
	<br>
	<% students.forEach((student) => { %>
	<%= student.firstname%> <%= student.lastname%> from <%= student.school %> <br>
	<% }) %>
</h1>
<%- include('../partials/footer.ejs') %>