<%- include('../partials/navbar.ejs') %>
    Students are here <br>
    <h2><%= message.firstname %>
    <%= message.lastname %></h2>
    <h4><%= message.school %></h4>
<%- include('../partials/footer.ejs') %>